<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Estoque 4000</title>
</head>
<body>
    <header class="header-content">
        <h1>Estoque 4000</h1>
    </header>
        <div class="button">
            <a href="/buy_products">Comprar Produtos</a >
            <a href="/list_products">Lista de Produtos</a >
            <a href="/create_provider">Criar fornecedor</a >
        </div>
        <div class="main-content">
            <form action="/create_provider" method="post">
                <h1>Registrar Fornecedor</h1>
                <div class="product">
                    <input type="text" placeholder="Nome" name="name">
                </div>
                <div class="button" id="button">
                    <button type="submit">Registrar Produto</button>
                </div>
            </form>
        </div>
</body>
</html>