<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Estoque 4000</title>
</head>
<body>
    <header class="header-content">
        <h1>Estoque 4000</h1>
    </header>
    <div class="button">
        <a href="/produce">Produzir</a >
        <a href="/list_produtcs">Lista de Produtos a Vender</a >
    </div>
    <div class="main-content">
        <table>
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Custo de produção</th>
                    <th>Preço de venda</th>
                    <th>Quantidade</th>
                    <th>Lucro Máximo</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                    <tr>
                        <td>{{produto.name}}</td>
                        <td>{{produto.production_cost}}</td>
                        <td>{{produto.sold_price}}</td>
                        <td>{{produto.quantity}}</td>
                        <td>{{produto.maximum_profit}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>