<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Estoque 4000</title>
</head>
<body>
    <header class="header-content">
        <h1>Estoque 4000</h1>
    </header>
    <div class="button">
        <a href="/modify">Modificar Produto</a >
        <a href="/list">Lista de Produtos</a >
        <a href="/sell">Vender Produto</a >
    </div>
    <div class="main-content">
        <table>
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Preço de compra</th>
                    <th>Preço de venda</th>
                    <th>Lucro Máximo</th>
                    <th>Quantidade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
