<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Estoque 4000</title>
</head>
<body>
    <header class="header-content">
        <h1>Estoque 4000</h1>
    </header>
    <div class="button">
        <a href="/buy_products">Comprar Produtos</a >
        <a href="/list_produtcs">Lista de Produtos</a >
        <a href="/create_provider">Criar fornecedor</a >
    </div>
    <div class="main-content">
        <table>
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Preço de compra</th>
                    <th>Preço de venda</th>
                    <th>Quantidade</th>
                    <th>Lucro Máximo</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in lista_produto %}
                    <tr>
                        <td>{{produto.nome}}</td>
                        <td>{{produto.preco_compra}}</td>
                        <td>{{produto.preco_venda}}</td>
                        <td>{{produto.quantidade}}</td>
                        <td>{{produto.lucro_max}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>