<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Estoque 4000</title>
</head>
<body>
    <header class="header-content">
        <h1>Estoque 4000</h1>
    </header>
    <div class="button">
        <a href="/modify">Modificar Produto</a >
        <a href="/list">Lista de Produtos</a >
        <a href="/sell">Vender Produto</a >
    </div>
    <div class="main-content">
        <form action="">
            <h1>Modificar Produto</h1>
            <div class="product" id="product">
                <input type="text" placeholder="Nome Produto">
            </div>
            <div class="product" id="product">
                <input type="text" placeholder="Preço de compra">
            </div>
            <div class="product" id="product">
                <input type="text" placeholder="Preço de venda">
            </div>
            <div class="product" id="product">
                <input type="number" placeholder="Quantidade">
            </div>
            <div class="button" id="button">
                <button type="button">Modificar Produto</button>
            </div>
        </form>
    </div>
</body>
</html>
