<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Estoque 4000</title>
</head>
<body>
    <header class="header-content">
        <h1>Estoque 4000</h1>
    </header>
        <div class="button">
            <a href="/produce">Produzir</a >
            <a href="/list_produtcs">Lista de Produtos a Vender</a >
        </div>
        <div class="main-content">
            <form action="/buy_products" method="post">
                <h1>Produzir</h1>
                <div class="product">
                    <input type="text" placeholder="Nome Produto" name="name">
                </div>
                <div class="product">
                    <input type="number" placeholder="Custa de Produção por Unidade" name="production_cost_per_unit">
                </div>
                <div class="product">
                    <input type="number" placeholder="Quantidade a ser vendida" name="quantity">
                </div>
                <div class="button">
                    <button type="submit">Registrar Produto</button>
                </div>
            </form>
        </div>
</body>
</html>