*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background:#10ac84;
}
table{
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    background: beige;
}

th{
    background: blanchedalmond;
    border: 2px solid red;
    padding: 15px;
}

td{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}
.header-content{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1dd1a1;
    padding: 72px;
}
.header-content h1{
    color: #f5f6fa;
    font-size: 48px;
    font-weight: 600;
}
.main-content{
    height: 100%;
    background:#f5f6fa;
    border: 2px solid black;
    border-radius: 8px;
    margin: 30px;
}
.main-content h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #353b48;
    font-weight: 500;
    font-size: 36px;
    padding-top: 12px;
}
.product{
    display: flex;
    align-items: center;
    justify-content: center;
}
.product select{
    margin: 32px 0 0;
    width: 25%;
    height: 45px;
    border-radius: 4px;
    outline: none;
    font-size: 18px;
    text-align: center;
}
.product input{
    margin: 32px 0 0;
    width: 25%;
    height: 45px;
    border-radius: 4px;
    outline: none;
    font-size: 18px;
    text-align: center;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button button{
    background: #e84118;
    color: #f5f6fa;   
    margin-top: 32px;
    width: 30%;
    height: 60px;
    font-size: 24px;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s linear;
}
.button a{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e84118;
    color: #f5f6fa;   
    margin-top: 32px;
    width: 30%;
    height: 60px;
    font-size: 24px;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s linear;
    text-decoration: none;
}
.button button:hover, .button a:hover{
    background: #c23616;
}